@* @model Property_Management_Sys.Models.Tbl_Property_Detail

@{
    ViewBag.Title = "Edit";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-wrapper">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Edit Property Detail</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Pro_Detail_Id)
                        <div class="form-group">
                            @Html.LabelFor(model => model.Building_No, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Building_No, new { htmlAttributes = new { @class = "form-control", required="required" } })
                                @Html.ValidationMessageFor(model => model.Building_No, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Builiding_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Builiding_Name, new { htmlAttributes = new { @class = "form-control", @id = "Builiding_Name" , required="required"} })
                                @Html.ValidationMessageFor(model => model.Builiding_Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Apt_Villa_No, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Apt_Villa_No, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Apt_Villa_No, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Complex_No, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Complex_No, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Complex_No, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.PropertyDetailStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" name="@Model.PropertyDetailStatus" id="PropertyDetailStatus" required>
                                    <option value="">Please Select Property Status</option>
                                    <option value="Rented">Rented</option>
                                    <option value="Reserved">Reserved</option>
                                    <option value="On Sale">On Sale</option>
                                    <option value="Sold">Sold</option>
                                    <option value="Renovation">Renovation</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.PropertyDetailStatus, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PropertyType, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <select class="form-control" name="Basic_PropertyType" id="Basic_PropertyType" required>
                                    <option value="">Please Select Property Type</option>
                                    <option value="Residencial" >Residencial</option>
                                    <option value="Vacacional">Vacacional</option>
                                    <option value="Habitacion">Habitacion</option>
                                    <option value="Oficina">Oficina</option>
                                    <option value="Local o nave">Local o nave</option>
                                    <option value="Garaje">Garaje</option>
                                    <option value="Trastero">Trastero</option>
                                    <option value="Edificio">Edificio</option>
                                    <option value="Terreno">Terreno</option>
                                    <option value="Grupo">Grupo</option>
                                    <option value="Coworking">Coworking</option>
                                    <option value="Puesto">Puesto</option>
                                    <option value="Sala">Sala</option>
                                    <option value="Cama">Cama</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.PropertyType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Elec_Water_Acc_No, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Elec_Water_Acc_No, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Elec_Water_Acc_No, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Water_Acc_NO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Water_Acc_NO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Water_Acc_NO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.LanLoadrd_Id, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("LanLoadrd_Id", null,"Please Select LanLoard", htmlAttributes: new { @class = "form-control",@id="Landlord" , required="required"})
                                @Html.ValidationMessageFor(model => model.LanLoadrd_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Edit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#Builiding_Name").keyup(function () {
            $('#Builiding_Name').css('textTransform', 'capitalize');
        });
        $("#Landlord").val("@Model.LanLoadrd_Id.ToString()").trigger("chosen:updated");
        $("#PropertyType").val("@Model.PropertyType.ToString()").trigger("chosen:updated");
        $("#PropertyDetailStatus").val("@Model.PropertyDetailStatus.ToString()").trigger("chosen:updated");
    });
</script>   *@