@model IEnumerable<Property_Management_Sys.Models.Tbl_Tenant>
@using Microsoft.AspNetCore.Identity
@using Property_Management_Sys.Areas.Identity.Data
@using Property_Management_Sys.Utility;
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
	var user = await UserManager.GetUserAsync(User);
}
<link href="~/adminpage/css/helper.css" rel="stylesheet">
<link href="~/adminpage/css/style.css" rel="stylesheet">
<center><h2><b>Tenant List</b></h2></center>
<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <div class="main-body">
            <div class="page-body">
                <div class="card">
                    <div class="card-block table-border-style">
                        <div class="table-responsive">
                            <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th style="text-align:center!important">
                                            @Html.DisplayNameFor(model => model.Tenant_Name)
                                        </th>
                                        <th style="text-align:center!important">
                                            @Html.DisplayNameFor(model => model.Tenant_Contact)
                                        </th>
                                        <th style="text-align:center!important">
                                            @Html.DisplayNameFor(model => model.Tenant_Identity_Card)
                                        </th>
                                        <th style="text-align:center!important">
                                            @Html.DisplayNameFor(model => model.Tenant_Email)
                                        </th>
                                        <th style="text-align:center!important">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr style="text-align:center!important">
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tenant_Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tenant_Contact)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tenant_Identity_Card)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Tenant_Email)
                                        </td>
                                        <td>
                                                @{
                                                    var typeval = user.UserType.ToString();
                                                    if (typeval == UserType.SuperAdmin)
                                                {
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Tenant_Id })

                                                }
                                            } |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Tenant_Id })
                                        </td>
                                    </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/adminpage/js/lib/jquery/jquery.min.js"></script>
<script src="~/adminpage/js/lib/bootstrap/js/popper.min.js"></script>
<script src="~/adminpage/js/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/adminpage/js/lib/datatables/datatables.min.js"></script>
<script src="~/adminpage/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
<script src="~/adminpage/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
<script src="~/adminpage/js/lib/datatables/cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
<script src="~/adminpage/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
<script src="~/adminpage/js/lib/datatables/cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
<script src="~/adminpage/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
<script src="~/adminpage/js/lib/datatables/cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
<script src="~/adminpage/js/lib/datatables/datatables-init.js"></script>
